/* FH Layout Utilities */

/* Section: Layout Utilities */

/* Utility class so body widgets (e.g. Doofinder recommendations) can span the full viewport width. */
.fh-full-viewport-container,
.doofinder-product-recommendation-fw {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  max-width: none;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
}

#vue-app > div.footer.container-max.d-print-none {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* End Section: Layout Utilities */

/* Section: Trustbadge ausblenden */
.basket-open .widget_container_overlay,
.basket-open #trustami-mobile-view,
.basket-open .back-to-top,
.basket-open .widget-cookie-bar,
.basket-open div[id^="trustbadge-container-"],
.basket-open #web-chat-loader-root,
  #kyjMegaMenuNavContainer.kyj-mega-menu-dropdown-is-active .widget_container_overlay,
  #kyjMegaMenuNavContainer.kyj-mega-menu-dropdown-is-active #trustami-mobile-view,
  #kyjMegaMenuNavContainer.kyj-mega-menu-dropdown-is-active .back-to-top,
  #kyjMegaMenuNavContainer.kyj-mega-menu-dropdown-is-active .widget-cookie-bar,
  #kyjMegaMenuNavContainer.kyj-mega-menu-dropdown-is-active div[id^="trustbadge-container-"],
  #kyjMegaMenuNavContainer.kyj-mega-menu-dropdown-is-active #web-chat-loader-root {
    display: none !important;
}

body.fh-mobile-menu-open .widget_container_overlay,
body.fh-mobile-menu-open #trustami-mobile-view,
body.fh-mobile-menu-open .back-to-top,
body.fh-mobile-menu-open .widget-cookie-bar,
body.fh-mobile-menu-open div[id^="trustbadge-container-"],
body.fh-mobile-menu-open #web-chat-loader-root {
  display: none !important;
}

body.fh-search-overlay-open div[id^="trustbadge-container-"] {
  display: none !important;
}
/* End Section: Trustbadge ausblenden */

/* Section: Body Top Margin Fix */
div.widget.widget-grid.widget-two-col.row.mt-5 {
  margin-top: 1rem !important;
}
/* End Section: Body Top Margin Fix */

/* Section: Controls List Icon Margin */
#controlsList .fa {
  margin-right: 0px !important;
}
/* End Section: Controls List Icon Margin */
