/* Section: Versand Icons ändern & einfügen */

.shipping-icon {
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}
/* End Section: Versand Icons ändern & einfügen */

/* Section: Fast Checkout CSS Anpassungen */

#page-body
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.fc-container_header
  > div
  > a
  > picture
  > img {
  min-height: 70px;
}
#page-body
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.fc-container_header
  > div {
  padding-bottom: 1.1rem !important;
  padding-top: 1.1rem !important;
}
.after-invoice-address {
  display: none;
}

#page-body
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.fc-container_right
  > div
> div.widget.widget-sticky.mb-2.sticky-element
  > div
  > div.mt-2.mb-4
  > div
  > div
  > span
  > button {
  box-shadow: none;
  color: #4e4e4e !important;
}
#page-body
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.fc-container_right
  > div
> div.widget.widget-sticky.mb-2.sticky-element
  > div
  > div.mt-2.mb-4
  > div
  > div
  > span
  > button:hover {
  color: #212529 !important;
  border-color: #bcbcbc;
}
#page-body
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.fc-container_bottom
  > div
  > div.checkout-validation-wrapper
  > div:nth-child(2)
  > div
  > div
  > div
  > button {
  height: 50px;
  font-size: medium;
}
[id^="addressMultiSelect"] {
  border-radius: 12px !important;
}

[id^="addressMultiSelect"] > div > div > p {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

@media (max-width: 575.98px) {
  .add-item {
    padding: 14px;
  }
  .add-item button {
    height: 42px !important;
    width: auto !important;
  }
}
[id^="basketListContainer"] {
  padding-top: 10px !important;
}
[id^="basketListContainer"] > div > div:nth-child(1) > div > div.meta-container-wrapper > div > div.meta-container {
  padding-right: 10px !important;
}

.basket-list-item .meta-container {
  padding-right: 10px !important;
}
/* Section: Quantity Input Styling */
.qty-input {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

button[data-testing="quantity-btn-increase"],
[id^="basketListContainer"] > div > div > div > div.meta-container-wrapper > div > div.basket-item-container-right > div.qty-box-container > div > div > button:nth-child(1) {
  border-top-right-radius: 6px !important;
}

button[data-testing="quantity-btn-decrease"],
[id^="basketListContainer"] > div > div > div > div.meta-container-wrapper > div > div.basket-item-container-right > div.qty-box-container > div > div > button:nth-child(2) {
  border-bottom-right-radius: 6px !important;
}

.page-checkout .widget-rounded-corners .basket-list-item 
.basket-item .meta-container-wrapper .meta-container-wrapper-inner 
.basket-item-container-right .qty-box-container .qty-btn-container 
button[data-testing="quantity-btn-increase"] {
    border-top-right-radius: 6px !important;
}

.page-checkout .widget-rounded-corners .basket-list-item 
.basket-item .meta-container-wrapper .meta-container-wrapper-inner 
.basket-item-container-right .qty-box-container .qty-btn-container 
button[data-testing="quantity-btn-decrease"] {
    border-bottom-right-radius: 6px !important;
}

/* End Section: Quantity Input Styling */
#page-body
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.fc-container_left
  > div
  > div.shipping-method-select
  > div
  > fieldset
  > ul
  > li
  > label
  > div.icon
  > img {
  width: 100%;
}
/* End Section: Fast Checkout CSS Anpassungen */

/* Section: Payment method list item rounded corners */
.page-checkout .widget-rounded-corners .payment-method-select .cmp-method-list .method-list-item:nth-child(2) {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
/* End Section: Payment method list item rounded corners */

/* Section: PayPal Express Checkout */
.paypalSmartButtons div {
    margin-left: auto; /* fixes weird margin */
}

.page-checkout .widget-fast-checkout .fc-container_left-inner .cmp-method-list .method-list-item[data-id="6001"] {
  display: none !important;
}

body:has(.invoice-addresses-select .dropdown.items > div:first-child.disabled) #smart,
body:has(.invoice-addresses-select .dropdown.items > div:first-child.disabled) .paypalSmartButtons {
  display: none !important;
}
/* End Section: PayPal Express Checkout */
