/* SH Core Styles */

/* Section: Custom Schriftarten + Preis Text Stylings */

@import url("https://use.typekit.net/lwl7tyw.css");

/* Section: Border radius utility classes */
.br-l {
  border-radius: 14px !important;
}

.br-m {
  border-radius: 6px !important;
}

.br-s {
  border-radius: 3px !important;
}

/* End Section: Border radius utility classes */

/* Section: Allgemeines Button-Styling für .btn-primary */
.btn.btn-primary {
  background-color: #000000 !important; /* Tiefschwarz – kräftig */
  color: #ffffff !important; /* Weißer Text */
  font-family: "industry", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.6em 1.2em;
  border: 2px solid #f20000; /* SCHRAUBEN-HAMMER blau als Kontrast */
  border-radius: 6px;
  box-shadow: 0 4px 0 #f20000; /* "Solider" Shadow-Effekt */
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
}

/* Hover-Effekt für besseren Button-Charakter */
.btn.btn-primary:hover {
  background-color: #f20000 !important;
  color: #000000 !important;
  box-shadow: 0 4px 0 #000000;
  transform: translateY(-1px);
}

/* End Section: Allgemeines Button-Styling für .btn-primary */

/* Section: Form Control Border Radius */
.custom-select {
  border-radius: 6px;
}

.form-control {
  border-radius: 6px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* End Section: Form Control Border Radius */
