/* SH Product Detail Styles */

/* Section: Produktseite Kauf-Panel Hervorhebung */
.elevated-bg {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.12);
}
/* End Section: Produktseite Kauf-Panel Hervorhebung */

/* Section: Produktseite Variantenauswahl Box */
.v-s-box {
  border-radius: 6px !important;
}
/* End Section: Produktseite Variantenauswahl Box */

/* Section: Verfügbarkeitshinweis Produktseite */
#kjvItemAvailabilityText {
  background-color: rgb(220, 252, 231);
  padding: 6px;
  border-radius: 6px;
  font-size: smaller;
  color: rgb(22, 101, 52);
}

#kjvItemAvailabilityIcon {
  display: none !important;
}
/* End Section: Verfügbarkeitshinweis Produktseite */
